p, ul, ol, li{font-size: var(--body-text-m)}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,z
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-titles);
}
h1,
.h1 {
  font-size: 3.75rem;
  font-weight: 700;
}
h2,
.h2 {
  font-size: 3rem;
  font-weight: 500;
}
h3,
.h3 {
  font-size: 2.35rem;
  font-weight: 500;
}
h4,
.h4 {
  font-size: 2rem;
  font-weight: 700;
}
h5,
.h5 {
  font-size: 1.5rem;
  font-weight: 700;
}
h6,
.h6 {
  font-size: 1.125rem;
  font-weight: 700;
}
